<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<title>Payment Page</title>
		<link rel="icon" href="./img/favicon.ico">
		
	
    <link rel="stylesheet" type="text/css" href="./css/all.css" />
    <link rel="stylesheet" type="text/css" href="./css/pages-pay.css" />
</head>

	<body>
		<!--head-->
		<!-- 头部栏位 -->
	    <!--页面顶部-->
<div id="nav-bottom">
	<!--顶部-->
	<div class="nav-top">
		<div class="top">
			<div class="py-container">
				<div class="shortcut">
					<ul class="fl">
						<li class="f-item">Welcome to FlashSale!</li>
						<li class="f-item">Please <a href="login.html" target="_blank">Login</a> <span><a href="register.html" target="_blank">Register for Free</a></span></li>
					</ul>
					<div class="fr typelist">
						<ul class="types">
							<li class="f-item"><span>My Orders</span></li>
							<li class="f-item"><span><a href="cart.html" target="_blank">My Cart</a></span></li>
							<li class="f-item"><span><a href="home.html" target="_blank">My FlashSale</a></span></li>			
							<li class="f-item"><span>FlashSale Membership</span></li>						
							<li class="f-item"><span>Corporate Purchasing</span></li>						
							<li class="f-item"><span>Follow FlashSale</span></li>
							<li class="f-item"><span><a href="cooperation.html" target="_blank">Business Partnerships</a></span></li>
							<li class="f-item"><span><a href="shoplogin.html" target="_blank">Merchant Dashboard</a></span></li>				
							<li class="f-item"><span>Site Navigation</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!--头部-->
		<div class="header">
			<div class="py-container">
				<div class="yui3-g Logo">
					<div class="yui3-u Left logoArea">
						<a class="logo-bd" title="青橙" href="http://localhost:8082/seckills" target="_blank"></a>
					</div>
					<div class="yui3-u Rit searchArea">
						<div class="search">
							<form action="" class="sui-form form-inline">
								<!--searchAutoComplete-->
								<div class="input-append">
									<input type="text" id="autocomplete"  class="input-error input-xxlarge" />
									<button class="sui-btn btn-xlarge btn-danger" type="button">Search</button>
								</div>
							</form>
						</div>
					</div>
					
				</div>

			</div>
		</div>
	</div>
</div>

		<div class="cart py-container" id="app">
			
			
			<!--主内容-->
			<div class="checkout py-container  pay">
				<div class="checkout-tit">
					<h4 class="tit-txt">
						<span class="success-icon"></span>
						<span class="success-info">Order submitted successfully. Please make the payment promptly so we can ship your order as soon as possible~~</span>
					</h4>
					<div class="paymark">
						<span class="fl">Please complete the payment within <em class="orange time">4 hours</em> of submitting the order, otherwise, the order will be automatically canceled. Order number: <em>{{orderId}}</em></span>
						<span class="fr"><em class="sui-lead">Amount Due:</em><em class="orange money">￥{{(money/100).toFixed(2)}}</em></span>
					</div>
				</div>
				
				<div class="check-info">
					<h4>Important Information:</h4>
					<ol>
						<li>The FlashSale shopping platform currently supports the <span class="zfb">Alipay</span> payment method.</li>
						<li>Other payment channels are under testing and will be available soon. Stay tuned.</li>
						<li>To ensure a smooth payment process, please save the following Alipay information.</li>
					</ol>
					<h4>Alipay Account Information: (Very important, <span class="save">please save it!!!</span>)</h4>
					<ul>
						<li>Payment Account: duqthf1038@sandbox.com</li>
						<li>Password: 111111</li>
						<li>Payment Password: 111111</li>
					</ul>	
				</div>
				
				
				<div class="checkout-steps">
					<!--收件人信息-->
					<div class="step-tit">
						<h5>Payment Platform</h5>
					</div>
					<div class="step-cont">
						<ul class="payType">
							<li><img src="./img/_/pay1.jpg"></li>
							<li><img src="./img/_/pay2.jpg"></li>
							<li><a :href="'weixinpay.html?orderId='+orderId"><img src="./img/_/pay3.jpg"></a></li>
							<li><img src="./img/_/pay4.jpg"></li>
							<li><img src="./img/_/pay5.jpg"></li>
						</ul>
					</div>
					<div class="hr"></div>

					<!--支付和送货-->
					<div class="payshipInfo">
						<div class="step-tit">
							<h5>Online Payment</h5>
						</div>
						<div class="step-cont">
							<ul class="payType">
								<li><img src="./img/_/pay10.jpg"></li>
								<li><img src="./img/_/pay11.jpg"></li>
								<li><img src="./img/_/pay12.jpg"></li>
								<li><img src="./img/_/pay13.jpg"></li>
								<li><img src="./img/_/pay14.jpg"></li>
								<li><img src="./img/_/pay15.jpg"></li>
								<li><img src="./img/_/pay16.jpg"></li>
								<li><img src="./img/_/pay17.jpg"></li>
								<li><img src="./img/_/pay18.jpg"></li>
								<li><img src="./img/_/pay19.jpg"></li>
								<li><img src="./img/_/pay20.jpg"></li>
								<li><img src="./img/_/pay21.jpg"></li>
								<li><img src="./img/_/pay22.jpg"></li>

							</ul>
						</div>
						<div class="hr"></div>
					</div>

					<div class="submit sui-text-center">
						<a class="sui-btn btn-danger btn-xlarge" href="paysuccess.html" target="_blank">Pay Now</a>
					</div>
					<div class="otherpay">
						<div class="step-tit">
							<h5>Other Payment Option</h5>
						</div>
						<div class="step-cont">
							<span><a href="weixinpay.html" target="_blank">Wechat Pay</a></span>
							<span>Credit Card</span>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- 底部栏位 -->
		<!--页面底部-->
	<div class="clearfix footer">
		<div class="py-container">
			<div class="footlink">
				<div class="Mod-service">
					<ul class="Mod-Service-list">
						<li class="grid-service-item intro intro1">
							<i class="service-item fl"></i>
							<div class="service-text">
								<h4>Authenticity Guarantee</h4>
								<p>Authenticity guaranteed, invoices provided</p>
							</div>
						</li>
						<li class="grid-service-item intro intro2">
							<i class="service-item fl"></i>
							<div class="service-text">
								<h4>Authenticity Guarantee</h4>
								<p>Authenticity guaranteed, invoices provided</p>
							</div>
						</li>
						<li class="grid-service-item intro intro3">
							<i class="service-item fl"></i>
							<div class="service-text">
								<h4>Authenticity Guarantee</h4>
								<p>Authenticity guaranteed, invoices provided</p>
							</div>
						</li>
						<li class="grid-service-item intro intro4">
							<i class="service-item fl"></i>
							<div class="service-text">
								<h4>Authenticity Guarantee</h4>
								<p>Authenticity guaranteed, invoices provided</p>
							</div>
						</li>
						<li class="grid-service-item intro intro5">
							<i class="service-item fl"></i>
							<div class="service-text">
								<h4>Authenticity Guarantee</h4>
								<p>Authenticity guaranteed, invoices provided</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="clearfix Mod-list">
					<div class="yui3-g">
						<div class="yui3-u-1-6">
							<h4>Shopping Guide</h4>
							<ul class="unstyled">
								<li>Shopping Process</li>
								<li>Membership Introduction</li>
								<li>Life & Travel/Group Deals</li>
								<li>FAQs</li>
								<li>Shopping Guide</li>
							</ul>
						</div>
						<div class="yui3-u-1-6">
							<h4>Delivery Methods</h4>
							<ul class="unstyled">
								<li>Pick-Up</li>
								<li>211 Express Delivery</li>
								<li>Delivery Service Inquiry</li>
								<li>Shipping Fee Standards</li>
								<li>International Shipping</li>
							</ul>
						</div>
						<div class="yui3-u-1-6">
							<h4>Payment Methods</h4>
							<ul class="unstyled">
								<li>Cash on Delivery</li>
								<li>Online Payment</li>
								<li>Installment Payments</li>
								<li>Postal Remittance</li>
								<li>Corporate Transfer</li>
							</ul>
						</div>
						<div class="yui3-u-1-6">
							<h4>After-Sales Service</h4>
							<ul class="unstyled">
								<li>After-Sales Policy</li>
								<li>Price Protection</li>
								<li>Refund Instructions</li>
								<li>Repairs/Returns/Exchanges</li>
								<li>Cancel Order</li>
							</ul>
						</div>
						<div class="yui3-u-1-6">
							<h4>Special Services</h4>
							<ul class="unstyled">
								<li>Treasure Island</li>
								<li>DIY Assembly</li>
								<li>Extended Warranty Service</li>
								<li>PinYouGo E-Card</li>
								<li>PinYouGo Communications</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="Mod-copyright">
					<ul class="helpLink">
						<li>About Us<span class="space"></span></li>
						<li>Contact Us<span class="space"></span></li>
						<li>About Us<span class="space"></span></li>
						<li>Merchant Sign-Up<span class="space"></span></li>
						<li>Marketing Center<span class="space"></span></li>
						<li>Links<span class="space"></span></li>
						<li>About Us<span class="space"></span></li>
						<li>Marketing Center<span class="space"></span></li>
						<li>Links<span class="space"></span></li>
						<li>About Us</li>
					</ul>
					<p>Phone: 400-618-4000 Fax: 010-82935100</p>
					<p>ICP License No.: Jing ICP 08001421 Public Security Bureau No.: Jing Public Network Security 110108007702</p>
				</div>
			</div>
		</div>
	</div>
<!--页面底部END-->
		
	

</body>

	<script src="/js/vue.js"></script>
	<script src="/js/axios.js"></script>
	<script src="/js/util.js"></script>
	<script>
        new Vue({
            el: '#app',
            data(){
                return {
                    orderId:'',
					money:0
                }
            },
            created(){
				this.orderId=getQueryString("orderId");
				this.money=getQueryString("money");
            },
            methods:{

            }
        })
	</script>

</html>